# 1- Importation des librairies

In [122]:
import numpy,pandas
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import accuracy_score

from sklearn.metrics import classification_report, confusion_matrix
from copy import copy

# 2- Chargement des dataset train

In [123]:
data_train=pandas.read_csv("DataVerse - Data Challenge 2022-2023 - Train.csv")
data_train

,Patient_ID,symptome 1,symptome 2,symptome 3,symptome 4,symptome 5,symptome 6,symptome 7,symptome 8,symptome 9,Profession,Martial_Status,Sex,Age,Country,Smallpox
0,P22833,Swollen Lymph Nodes,True,True,True,True,False,True,False,False,Facilities manager,Single,M,62,Mauritania,1
1,P7988,Swollen Lymph Nodes,True,False,False,False,True,True,True,True,Chartered loss adjuster,Widowed,M,62,Wallis and Futuna,1
2,P12774,Swollen Lymph Nodes,True,False,False,True,True,True,False,False,Chief Financial Officer,Single,F,33,Brunei Darussalam,0
3,P972,Swollen Lymph Nodes,True,True,True,True,False,False,False,True,Database administrator,Divorced,F,46,Turkey,1
4,P23058,Swollen Lymph Nodes,True,True,True,False,True,False,True,True,Theatre director,Divorced,M,19,Namibia,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17495,P10559,Muscle Aches and Pain,False,True,True,True,False,True,False,False,Mechanical engineer,Single,F,28,Saudi Arabia,1
17496,P15697,None,False,True,True,False,True,False,True,True,Plant breeder/geneticist,Widowed,F,51,Slovakia (Slovak Republic),0
17497,P1107,Muscle Aches and Pain,False,True,True,True,True,False,False,True,Hydrogeologist,Divorced,M,58,Sri Lanka,1
17498,P13477,Swollen Lymph Nodes,False,True,True,True,False,False,False,False,Network engineer,Divorced,F,42,Seychelles,1
17499,P24714,None,True,False,False,True,False,True,False,True,Homeopath,Divorced,F,35,Cote d'Ivoire,1

In [124]:
data_test=pandas.read_csv("DataVerse - Data Challenge 2022-2023 - Test.csv")
data_test

,Patient_ID,symptome 1,symptome 2,symptome 3,symptome 4,symptome 5,symptome 6,symptome 7,symptome 8,symptome 9,Profession,Martial_Status,Sex,Age,Country,trustii_id
0,P7260,Swollen Lymph Nodes,False,False,True,False,True,False,False,False,Financial controller,Widowed,M,35,Mozambique,1
1,P7709,Swollen Lymph Nodes,True,True,True,False,True,False,False,True,Financial adviser,Divorced,F,50,Cayman Islands,2
2,P21132,Fever,True,False,False,True,False,True,True,False,Broadcast presenter,Single,F,33,Saint Kitts and Nevis,3
3,P5800,None,True,False,False,False,False,False,True,True,Armed forces operational officer,Widowed,M,49,Marshall Islands,4
4,P4073,Muscle Aches and Pain,True,True,True,False,True,False,False,False,Public relations account executive,Single,M,50,Brunei Darussalam,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,P24469,Swollen Lymph Nodes,False,False,False,True,False,False,True,False,Administrator,Divorced,F,43,Tanzania,7496
7496,P2380,Muscle Aches and Pain,True,False,False,True,True,False,True,True,Retail buyer,Divorced,M,36,San Marino,7497
7497,P14181,None,True,True,False,True,True,False,True,False,Illustrator,Single,F,54,Russian Federation,7498
7498,P3919,Swollen Lymph Nodes,False,False,False,True,True,False,False,True,Nurse learning disability,Single,F,23,Jamaica,7499
7499,P24150,Swollen Lymph Nodes,False,False,True,True,True,False,False,False,Industrial buyer,Single,F,49,Guyana,7500

# 3- SÃ©paration colonnes en features utiles et target

## Pour le jeu de Train

In [125]:
#Pour Ã©viter la copie par rÃ©fÃ©rence
data_train_=data_train.copy()

#target
y_train=data_train_['Smallpox']

#features
X_train=data_train_.drop(['Patient_ID','Smallpox','Profession'],axis=1)

## Pour le jeu de Test

In [126]:
#Pour Ã©viter la copie par rÃ©fÃ©rence
data_test_=data_test.copy()

#features
X_test=data_test_.drop(['Patient_ID','trustii_id','Profession'],axis=1)

# 4- Encodage des colonnes non numÃ©riques et mapping des donnÃ©es

## Encodage

In [127]:
from sklearn.preprocessing import OrdinalEncoder

def encoder_Data(features):
    ordinal_encoder = OrdinalEncoder()
    data_cat_encoded = ordinal_encoder.fit_transform(features)
    
    return data_cat_encoded

In [128]:
X_train=encoder_Data(X_train)
X_train

array([[  3.,   1.,   1., ...,   1.,  43., 136.],
       [  3.,   1.,   0., ...,   1.,  43., 238.],
       [  3.,   1.,   0., ...,   0.,  14.,  32.],
       ...,
       [  1.,   0.,   1., ...,   1.,  39., 204.],
       [  3.,   0.,   1., ...,   0.,  23., 194.],
       [  2.,   1.,   0., ...,   0.,  16.,  52.]])

In [129]:
X_test=encoder_Data(X_test)
X_test

array([[  3.,   0.,   0., ...,   1.,  16., 147.],
       [  3.,   1.,   1., ...,   0.,  31.,  40.],
       [  0.,   1.,   0., ...,   0.,  14., 183.],
       ...,
       [  2.,   1.,   1., ...,   0.,  35., 179.],
       [  3.,   0.,   0., ...,   0.,   4., 107.],
       [  3.,   0.,   0., ...,   0.,  30.,  91.]])

## Mapping des Negative en 0 , Positive en 1

In [130]:
# y_train=y_train.map({'Negative':0,'Positive':1})
y_train

0        1
1        1
2        0
3        1
4        1
        ..
17495    1
17496    0
17497    1
17498    1
17499    1
Name: Smallpox, Length: 17500, dtype: int64

# 5- Scaling

Pour mettre toutes les features Ã  la mm Ã©chelle, aussi bien dans le train que dans le test

In [131]:
from sklearn.preprocessing import StandardScaler

In [132]:
scaler = StandardScaler()

In [133]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

# 6- Spliting

Pour partitionner notre jeu d'entrainement en train set (pour l'entrainement au vrai sens du terme) et validation set

In [134]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# 7- KNN

In [135]:
#Importation KNN
from sklearn.neighbors import KNeighborsClassifier

In [136]:
# Use the KNN classifier to fit data
classifier_knn = KNeighborsClassifier(n_neighbors=7)
classifier_knn.fit(X_train, y_train)
#classifier.score(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [137]:
#Score
accuracy_score(y_val, y_predict_knn, normalize=True)

0.6488571428571429

In [138]:
# Predict y data with classifier: 
y_predict_knn = classifier_knn.predict(X_val)
y_predict_knn

array([0, 0, 1, ..., 1, 1, 1], dtype=int64)

In [155]:
#Number of predictions for each class
predicts_knn = pandas.DataFrame(y_predict_knn)[0].value_counts()
predicts_knn

1    2541
0     959
Name: 0, dtype: int64

# 8- SVM

In [157]:
#Importation SVM
from sklearn import svm

In [158]:
#Use SVM classifier to fit data 
classifier_svm = svm.SVR()
classifier_svm.fit(X_train, y_train)
#classifier_.score(X_train, y_train)

SVR()

In [168]:
#Predictions
y_predict_svm = classifier_svm.predict(X_val)
y_predict_svm

array([0.58733659, 0.19950489, 0.61093135, ..., 0.32040209, 0.86750762,
       0.92812496])

On remarque que SVM retourne une pobabilitÃ© d'appartenance entre 0 et 1

Pour ce faire, on doit fixer un seuil et crÃ©er un mapper qui classe les valeurs infÃ©rieures au seuil dans la premiÃ¨re classe et celles supÃ©rieures dans la seconde.

In [174]:
def map_pred(element_actuel):
    
    if element_actuel<0.5:
        return 0
    else:
        return 1

In [175]:
#Application du mapper
y_predicts_svm = pandas.DataFrame(y_predict_svm)[0].map(map_pred)
y_predicts_svm

0       1
1       0
2       1
3       1
4       1
       ..
3495    1
3496    1
3497    0
3498    1
3499    1
Name: 0, Length: 3500, dtype: int64

In [176]:
#Number of predictions for each class
y_predicts_svm.value_counts()

1    2876
0     624
Name: 0, dtype: int64

In [177]:
#SVM Accuracy
accuracy_score(y_val, y_predicts_svm, normalize=True)

0.6851428571428572

SVM a donc une meilleure accuracy, on la retient donc pour les prÃ©dictions sur le test

# 9- PrÃ©dictions sur le test set

In [180]:
y_predict_test = classifier_svm.predict(X_test)

In [181]:
predicts_test = pandas.DataFrame(y_predict)[0].map(map_pred).value_counts()

# 10- Exportation des prÃ©dictions sur le test set en csv

In [152]:
data = pandas.DataFrame({
    "trustii_id" : data_test["trustii_id"],
    "Smallpox"   : y_predict_test
})

In [153]:
data.to_csv(r'data.csv',index=True)